/* You can add global styles to this file, and also import other style files */
body, html{
    height: 90%;
    margin: 0;
}

body {
	font-family: monospace;
	color: #333;
	padding-bottom: 50px;
	margin: 50px;
}
